/*
 * Author: Josh Tuffnell
 * Date: Nov 21 2022
 * Name: site_style.css
 * Description: style sheet for displaying games and pages
 */
body{
    background-color:beige;
}
img {
    width: 200px;
    height: 200px;
    padding: 5px;
}
#main-header{
    font-size: 50px;
    background-color:crimson;
    border-color: black;
    height: 100px;
}
#searchbar{
    float:right;

}
.grid-container{
    display:grid;
    grid-template-columns: 250px 250px 250px;
}
#searchtextbox{
    width:250px;
}

